body
{
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: bold !important;
    font-size: 0.7em !important;
    letter-spacing: 5px;
    user-select: none;
    overflow-x: hidden;
}

#cookies
{
    bottom: 0px;
    height:80px !important;
    width: 100vw !important;
    position: fixed !important;
    vertical-align: bottom !important;
    background-color: rgb(49, 187, 172);

    box-shadow: 0px 0px 10px -5px #000;

    font-size: calc(8px + 0.4vw);
    color:white;
    letter-spacing: 0.5px;

    transition: 0.2s;
}

#cookies-btn
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 1em;
    font-weight: 700 !important;
    letter-spacing: 1px;

    border-radius: 0px;

    background-color: white;
    color: rgb(49, 187, 172);
}

#cookies-btn:hover
{
    box-shadow: inset 0px 0px 0px 2px white !important;
    color: white;
    background-color: rgb(49, 187, 172);
}

#content-1
{
    background-color: rgb(245,245,245);
}

#content-1-text
{
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 4em !important;
    font-weight: 900;
    letter-spacing: 0px;
}

#button1-content-1
{
    transition: 0.2s;
    font-size: 0.4em; 
    font-weight: normal; 
    letter-spacing: 2px;

    border-color: #111 !important;
    border-radius: 3px;
}

#button1-content-1:hover
{
    letter-spacing: 4px;
    cursor: pointer;
}


#content-2
{
    box-shadow: 0px 0px 10px -5px #000;
    background-color: white;
    height: 560px;

    padding-left: 23vw;
    padding-right: 23vw;
    margin: 0;
}

#content-2-title
{
    font-size: 2.5em !important;
    font-weight: 900 !important;

    color: rgb(49, 187, 172);
}

#content-2-text
{
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: normal !important;
    font-size: calc(12px + 0.4vw) !important;

    letter-spacing: 0px !important;
}

#button1-content-2
{
    transition: 0.2s;

    font-weight: normal; 
    font-size: 1.3em;

    letter-spacing: 2px;
    border-color: rgb(49, 187, 172) !important;
    color: rgb(49, 187, 172);
    border-radius: 3px;
}

#button1-content-2:hover
{
    letter-spacing: 4px;
    cursor: pointer;
}

#content-3
{
    background-color: rgb(49, 187, 172);
    height:600px;
    box-shadow: inset 0px 5px 10px -8px #000;

    padding-left: 20vw;
    padding-right: 20vw;

    padding-bottom: 50px;
}

#content-3-title
{
    font-size: calc(12px + 0.9vw) !important;
    font-weight: 900 !important;

    color: white;
}

#content-3-text
{
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: normal !important;
    font-size: calc(12px + 0.4vw) !important;
    
    color: rgba(255,255,255, 0.5);

    letter-spacing: 0px !important;
}

#content-4
{
    background-color: rgb(245,245,245);
}

#content-4-box
{
    width: 85vw;

    background-color: white;
    transform: translateY(-100px);
    box-shadow: 0px 0px 10px -3px #000;
}

#content-4-text
{
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: 700 !important;
    font-size: calc(5px + 1vw) !important;
    letter-spacing: 0px !important;
}

#content-4-container
{
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 50px;
    padding-bottom: 50px;
}

#content-4-btn
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 1.4em;
    font-weight: 700 !important;
    letter-spacing: 1px;

    border-radius: 0px;

    color: white;
    background-color: rgb(49, 187, 172);

    transition: 0.2s;
}

#content-4-btn:hover
{
    box-shadow: inset 0px 0px 0px 2px rgb(49, 187, 172) !important;
    background-color: white;
    color: rgb(49, 187, 172);
}

#content-4-checkbox-termos p
{
    color: rgb(180,180,180) !important;
    letter-spacing: 0px !important;
}

#content-4-checkbox-termos span
{
    color: rgb(60,60,60) !important;
}

#content-4-checkbox-termos input
{
    box-shadow: inset 0px 0px 0px 2px #aaa !important;
}

#content-5
{
    background-color: rgb(245,245,245);

    color: rgb(180,180,180) !important;
    letter-spacing: 0px;

    padding-bottom: 50px;

}

input, select, textarea
{
    border: 2px solid #ddd !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;   
    
    color: #666 !important;
}

input:focus, textarea:focus
{
    box-shadow: none !important;
}

label
{
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: normal !important;
    font-size: 1.4em !important;

    padding-left: 2px;
    letter-spacing: 0px;
}


